# Dependency directories
node_modules/

# JSON Files
authors.json
publications.json

# Images
images

# Excel Files
Missing Image Matches.xlsx
Publication Image Matches.xlsx
Author Image Matches.xlsx

# Package Lock Files
package-lock.json
